* {
    font-family: monospace;
    color: #fff;
}

#TopHeader {
    color: #fff; 
    text-align: right; 
    font-size: 50px; 
    border: dashed black 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

#leftColumn {
    margin: 5px;
    border: dashed black 1px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 20%;
    
}

body {
    background-image: url("Images/download.jfif");
}

input {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    background-color: rgba(0, 0, 0, 0.5);
}

.inline {
    display: inline;
}